
body{
    background-image: url('organic-tiles.webp');
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.judul {
    color: blue;
}
.judulatas {
    color: rgb(13, 132, 78);
    font-size: 50px;
    font-style: oblique;

}

.gambar {
    border-radius: 20px;
}

.kotak {
    color: rgb(1, 5, 2);
    background-color: rgb(13, 132, 78);
    padding: 20px;
    border-radius: 20px;
}


.deskripsi {
    font-size: 20px;
}

